/* Tooltip Animation */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* Navigation Animation */
@keyframes slidein {
  from {
    width: 10%;
  }

  to {
    width: 85%;
  }
}
