
@media only screen and (max-width: 768px) {
	.Upwork {
		flex-wrap: wrap;
	}
	.upwork__details {
		max-width: 90%;
	}
}
@media only screen and (max-width: 1016px) and (min-width: 480px) {
	nav {
		min-height: 10vh;
		position: relative;
	}
}
@media only screen and (max-width: 480px) {
	html {
		font-size: 7px;
	}
	nav {
		min-height: 10vh;
		position: relative;
	}
	.Header__HamburgerMenu {
		width: 40vw;
	}
	.Hero__HeroLeft {
		h1 {
			font-size: 4rem;
			line-height: 4.8rem;
		}
	}
	.ClientAvatar {
		max-width: 100px;
		left: 0;
		&::after {
			min-width: 15.5rem;
			min-height: 15.5rem;
		}
	}
	.SectionTitle {
		padding: 3rem 0 0;
		.btn {
			padding: 0.8em 1.2rem;
		}
	}
	.WorkSingle {
		flex-wrap: wrap;
	}
	.WorkMeta {
		order: 2;
	}
	.Upwork {
		flex-wrap: wrap;
	}
	footer {
		div {
			min-width: 25rem;
		}
	}
	.Dribbble {
		.SectionContent {
			div {
				width: 100%;
				justify-content: center;
			}
		}
	}
}
