/* Common utilities for Sections */
.SectionTitle {
  padding: 8rem 0 3rem;
}

.SectionContent {
  padding: 3rem 0;

  @include max-screen($xsmall) {
    padding: 1rem 0;
  }
}

section {
  margin: 0 calc((100% / 14) * 1);

  h2 {
    @include max-screen($xsmall) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}


/* Divider Padding */
.Divider--Big,
.Divider--Small {
  padding-bottom: 12px;
}

/* ==================================== HERO */
.Hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 calc((100% / 14) * 1);
  min-height: 100vh;
  padding-top: 20vh;
  position: relative;

  @include max-screen($xsmall) {
    padding-top: 10vh;
  }

  &>div {
    flex: 1 1 0;

    @include max-screen($xsmall) {
      flex: 2 1 0;
    }
  }

  &__Headshot {
    width: 360px;
    max-width: 90%;
    float: right;
  }

  &__Right {
    text-align: center;
  }

  &__Left {
    h1 {
      @include max-screen($xsmall) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }

    h2 {
      span {
        color: $color-primary;
      }
    }

    &__Greetings {
      span {
        font-size: 1.8rem;
        font-style: italic;
      }
    }
  }
}

/* ==================================== INTRO */
.Intro {
  background: $color-text;
  padding: 5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 91%, 0% 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 91%, 0% 100%);

  @include max-screen($xsmall) {
    padding: 3rem;
  }

  h2 {
    color: #fff;
  }

  p {
    font-size: 1.6rem;
    color: #fff;
    max-width: 53rem;
  }

  &__Links {
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    @include max-screen($xsmall) {
      flex-wrap: wrap;
    }

    &__Resume {
      .btn--Link {

        &:hover,
        &:focus,
        &:active {
          color: #fff;
        }
      }
    }

    &__Social {
      li {
        display: inline-block;
        padding-right: 0.5rem;

        i {
          color: #fff;
          font-size: 3rem;
        }
      }
    }
  }
}

/* ==================================== WORK */
.Work {

  &__WorkSingle {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @include max-screen($xsmall) {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__WorkMeta {
    @include max-screen($xsmall) {
      order: 2;
    }

    position: relative;
    padding: 1.5rem 3rem;
    max-width: 49.5rem;

    h3 {
      margin: 0.3rem 0;
    }

    &:after {
      content: "";
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      background: #f7f7ff;
      transform: matrix(1, -0.05, 0, 1, 0, 0);
      z-index: -2;
    }

    &__Details {
      font-size: 16px;
      line-height: 2.4rem;
      margin: 1rem 0 .5rem;
    }

    &__Tag {
      margin: 15px 0;

      span {
        display: inline-block;
        text-transform: lowercase;
        font-size: 12px;
        color: $color-light;
        line-height: normal;
        padding: 3px 10px;
        margin-right: 3px;
        background: $color-primary;
        font-weight: 600;
        font-family: "Gilroy", sans-serif;
        border-radius: 10px;

      }
    }
  }


  &__WorkThumb {
    @include max-screen($xsmall) {
      order: 1;
    }

    max-width: 49.3rem;
    position: relative;
  }

  .SectionContent {
    display: flex;
    flex-wrap: wrap;

    div {
      &:nth-of-type(odd) {
        margin-left: auto;
        position: relative;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.SectionContent>.Work__WorkMeta .btn--StrokesBorder {
  float: right;
}

.Work .SectionContent>div {
  padding: 5rem 0;

  @include max-screen($xsmall) {
    padding: 3rem 0;
  }
}

/* ==================================== WORK */

.Upwork {
  display: flex;
  padding: 15rem 0 5rem;

  @include max-screen($small) {
    flex-direction: column;
  }

  &__Left {}

  &__Right {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include max-screen($small) {
      padding-top: 2rem;
    }

    &>* {
      align-self: center;
    }

    img {
      display: flex;
      margin: 0 auto;
      max-width: 15rem;

      @include max-screen($small) {
        max-width: 10rem;
      }
    }
  }


  &__Left,
  &__Right {
    margin: 0;
    /* and that, will result in a 10px gap */
  }

  &__screenshot {
    border: 4px solid #f7f7ff;
  }

  &__details {
    max-width: 80%;
    margin: 5rem auto;
    text-align: center;
  }

  &__logo {
    padding: 2rem 0 0;
    max-width: 130px;
  }
}

/* Dribbble */
.Dribbble {

  .SectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div {
      width: 265px;

      img {
        object-fit: cover;
      }
    }
  }
}

/* ==================================== QUOTES */
.Quotes {
  padding: 4rem 0 0;

  blockquote {
    background-color: $color-primary;
    padding: 8% 10% 4%;
    font-family: "Gilroy", sans-serif;
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: $color-light;
    text-align: center;
    position: relative;

    @include max-screen($small) {
      font-size: 2.5rem;
      padding: 10% 10% 6%;
    }

    &:before {
      content: open-quote;
      font-size: 12rem;
      opacity: 0.2;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      top: auto;
    }

    .Author {
      display: block;
      padding: 2rem 0 0;
      font-size: 1.8rem;
      font-family: "Lora", serif;
      font-style: italic;
    }
  }
}

/* ==================================== FOOTER */
footer {
  margin: 0 calc((100% / 14) * 1);
  padding: 10rem 0 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;

  h4 {
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Lora", serif;
    line-height: 2.5rem;
    margin: 0;
    font-weight: normal;
  }

  a {
    font-size: 1.8rem;
    font-family: "Gilroy", sans-serif;
    transition: all 0.5s;

    &:hover {
      color: $color-primary;
    }
  }

  div {
    padding: 2rem 0;
  }

  .SocialLinks {
    min-width: 29rem;

    ul {
      list-style: none;
      display: inline-block;

      li {
        display: inline-block;
        font-family: "Gilroy", Sans-serif;
      }

      &:nth-of-type(even) {
        margin: 0 0.5rem;
        font-size: 3.2rem;
      }
    }
  }
}

.StickyFooter {
  margin: 0 calc((100% / 14) * 1);
  background: $color-primary;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: -webkit-fill-available;
  transform: translateY(10rem);
  opacity: 0;
  transition: all .4s;

  &.Stuck {
    opacity: 1;
    transform: translateY(0);
  }
}